deploy/charts/approver-policy/templates/crd-* linguist-generated=true
deploy/charts/approver-policy/README.md linguist-generated=true
docs/api/api.md linguist-generated=true

**/zz_generated.*.go linguist-generated=true
**/*.pb.go linguist-generated=true
