apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "cert-manager-approver-policy.name" . }}
  namespace: {{ .Release.Namespace | quote }}
  labels:
{{ include "cert-manager-approver-policy.labels" . | indent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "cert-manager-approver-policy.name" . }}
  template:
    metadata:
      labels:
        app: {{ include "cert-manager-approver-policy.name" . }}
        {{- include "cert-manager-approver-policy.labels" . | nindent 8 }}
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
      securityContext:
        runAsNonRoot: true
        seccompProfile: { type: RuntimeDefault }

    {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      serviceAccountName: {{ include "cert-manager-approver-policy.name" . }}
      containers:
      - name: {{ include "cert-manager-approver-policy.name" . }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
        - containerPort: {{ .Values.app.webhook.port }}
        - containerPort: {{ .Values.app.metrics.port }}
        readinessProbe:
          httpGet:
            port: {{ .Values.app.readinessProbe.port }}
            path: "/readyz"
          initialDelaySeconds: 3
          periodSeconds: 7
        command: ["cert-manager-approver-policy"]
        args:
          - --log-level={{.Values.app.logLevel}}

          {{- range .Values.app.extraArgs }}
          - {{ . }}
          {{- end  }}

          - --metrics-bind-address=:{{.Values.app.metrics.port}}
          - --readiness-probe-bind-address=:{{.Values.app.readinessProbe.port}}

          - --webhook-host={{.Values.app.webhook.host}}
          - --webhook-port={{.Values.app.webhook.port}}
          - --webhook-service-name={{ include "cert-manager-approver-policy.name" . }}
          - --webhook-ca-secret-namespace={{.Release.Namespace}}
          - --webhook-certificate-dir={{.Values.app.webhook.certificateDir}}

        volumeMounts:
        {{- with .Values.volumeMounts }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        - mountPath: /tmp
          name: temp-dir

        resources:
          {{- toYaml .Values.resources | nindent 10 }}

        securityContext:
          allowPrivilegeEscalation: false
          capabilities: { drop: ["ALL"] }
          readOnlyRootFilesystem: true

      volumes:
      {{- with .Values.volumes }}
      {{- toYaml . | nindent 6 }}
      {{- end }}
      - name: temp-dir
        emptyDir: {}

      hostNetwork: {{ .Values.app.webhook.hostNetwork }}
      dnsPolicy: {{ .Values.app.webhook.dnsPolicy }}
      {{- with .Values.app.webhook.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.app.webhook.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.app.webhook.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
