{{- if .Values.app.metrics.service.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "cert-manager-approver-policy.name" . }}-metrics
  namespace: {{ .Release.Namespace | quote }}
  labels:
    app: {{ include "cert-manager-approver-policy.name" . }}
    {{- include "cert-manager-approver-policy.labels" . | nindent 4 }}
spec:
  type: {{ .Values.app.metrics.service.type }}
  ports:
    - port: {{ .Values.app.metrics.port }}
      targetPort: {{ .Values.app.metrics.port }}
      protocol: TCP
      name: metrics
  selector:
    app: {{ include "cert-manager-approver-policy.name" . }}
{{- end }}
