kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ include "cert-manager-approver-policy.name" . }}
  labels:
{{ include "cert-manager-approver-policy.labels" . | indent 4 }}
rules:
- apiGroups: ["coordination.k8s.io"]
  resources: ["leases"]
  verbs: ["create"]
- apiGroups: ["coordination.k8s.io"]
  resources: ["leases"]
  verbs: ["get", "update"]
  resourceNames: ["policy.cert-manager.io"]
- apiGroups: [""]
  resources: ["secrets"]
  verbs: ["get", "list", "watch", "update"]
  resourceNames: ['{{ include "cert-manager-approver-policy.name" . }}-tls']
