apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "cert-manager-approver-policy.name" . }}
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "cert-manager-approver-policy.labels" . | nindent 4 }}
