apiVersion: v1
kind: Service
metadata:
  name: {{ include "cert-manager-approver-policy.name" . }}
  labels:
    app: {{ include "cert-manager-approver-policy.name" . }}
{{ include "cert-manager-approver-policy.labels" . | indent 4 }}
spec:
  type: {{ .Values.app.webhook.service.type }}
  ports:
    - port: 443
      targetPort: {{ .Values.app.webhook.port }}
{{- if .Values.app.webhook.service.nodePort }}
      nodePort: {{ .Values.app.webhook.service.nodePort }}
{{- end }}
      protocol: TCP
      name: webhook
  selector:
    app: {{ include "cert-manager-approver-policy.name" . }}
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: {{ include "cert-manager-approver-policy.name" . }}
  labels:
    app: {{ include "cert-manager-approver-policy.name" . }}
{{ include "cert-manager-approver-policy.labels" . | indent 4 }}
  annotations:
    cert-manager.io/inject-ca-from-secret: "{{ .Release.Namespace }}/{{ include "cert-manager-approver-policy.name" . }}-tls"

webhooks:
  - name: policy.cert-manager.io
    rules:
      - apiGroups:
          - "policy.cert-manager.io"
        apiVersions:
          - "*"
        operations:
          - CREATE
          - UPDATE
        resources:
          - "*/*"
    admissionReviewVersions: ["v1", "v1beta1"]
    timeoutSeconds: {{ .Values.app.webhook.timeoutSeconds }}
    failurePolicy: Fail
    sideEffects: None
    clientConfig:
      service:
        name: {{ include "cert-manager-approver-policy.name" . }}
        namespace: {{ .Release.Namespace | quote }}
        path: /validate
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "cert-manager-approver-policy.name" . }}-tls
  annotations:
    cert-manager.io/allow-direct-injection: "true"
  labels:
    app: {{ include "cert-manager-approver-policy.name" . }}
{{ include "cert-manager-approver-policy.labels" . | indent 4 }}
